
include ./header

block content
	h1 URL Shortener Microservic
	.howContainer
		h2 How it works: 
		p.explain This is an explanation.
	.exampleContainer
		h2 SoMeThInG gOeS hErE:
		a(href="#") A-tag
	.creditContainer
		p Built by 
			a(href="https://github.com/davemflick", target="_blank") David Flick
		p URL Shortener Microservice project for 
			a(href="https://www.freecodecamp.com/challenges/url-shortener-microservice", target="_blank") freeCodeCamp